.app-header {
  height: 80px;
  margin-bottom: 2rem;
  background-color: #f1f1f1b5;

  .btns-section {
    .signup-btn,
    .signin-btn {
      width: 110px;
      border: 1px solid #f7444e;
      color: #fff;
      padding: 8px 12px;
      border-radius: 75px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.02);
      }
    }
    .signin-btn {
      background: transparent;
      color: #f7444e;
    }
    .signup-btn {
      background: #f7444e;
      margin-right: 10px;
    }
  }
}
