<header class="app-header container flex space-between">
    <section class="btns-section">
        <button class="signup-btn">הרשמה</button>
        <button class="signin-btn">התחברות</button>
    </section>
    <a class="home-link" [routerLink]="['/home']">
        <img src="../../../assets/imgs/logo-red.svg" alt="logo">
    </a>
</header>