.store-profile {
  .store-details {
    margin-bottom: 2rem;
    .store-name {
      font-family: varela;
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      text-align: center;
      margin-right: 10px;
    }

    .store-img {
      width: 110px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 10px;
    }
  }

  .store-products {
    h3 {
      font-family: varela;
      display: flex;
      align-self: flex-end;
      height: 25px;

      &:hover {
        border-bottom: 2px solid #f7444e;
      }
    }

    .seperator {
      background-color: #d4d4d4;
      height: 2px;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
