<section class="store-profile container flex column" *ngIf="store && products else loader">
    <div class="store-details flex flex-end align-center">
        <h3 class="store-name">{{store.name}}</h3>
        <img class="store-img" src={{store.owner.profile_picture}} />
    </div>
    <div class="store-products flex column flex-end">
        <h3>תפריט</h3>
        <div class="seperator"></div>
        <products-list [products]="products"></products-list>
    </div>
</section>

<ng-template #loader>
    <img class="loader-gif" src="../../../assets/imgs/loader.gif"/>
</ng-template>