* {
  box-sizing: border-box;
  font-family: quicksand-reg, varela, Ariel;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: rgb(49, 49, 49);
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}



a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;

  * {
    pointer-events: none;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar

// ::-webkit-scrollbar {
//   width: 8px;
//   background-color: rgba(0, 0, 0, 0);
//   -webkit-border-radius: 100px;
// }

// ::-webkit-scrollbar:hover {
//   background-color: rgba(0, 0, 0, 0.09);
// }

// ::-webkit-scrollbar-thumb:vertical {
//   background: rgba(0, 0, 0, 0.5);
//   -webkit-border-radius: 100px;
// }

// ::-webkit-scrollbar-thumb:vertical:active {
//   -webkit-border-radius: 100px;
// }
