@font-face {
    font-family: quicksand-bold;
    src: url(../../assets/fonts/Quicksand/Quicksand-Bold.ttf);
}

@font-face {
    font-family: quicksand-reg;
    src: url(../../assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: varela;
    src: url(../../assets/fonts/Varela/VarelaRound-Regular.ttf);
}