// Font Sizes
.sm-font { font-size: rem(14px); }
.md-font { font-size: rem(20px); }
.lg-font { font-size: rem(30px); }
.xl-font { font-size: rem(40px); }

// List
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &>li {
        margin: 0;
        padding: 0;
    }
}

// Positioning
.flex {
    display: flex;
    &.column { flex-direction: column; }
    &.justify-center { justify-content: center; }
    &.align-center { align-items: center; }
    &.wrap { flex-wrap: wrap; }
    &.space-between { justify-content: space-between; }
    &.space-around { justify-content: space-around; }
    &.flex-end {justify-content: flex-end;}
    &.auto-center {
        justify-content: center;
        align-items: center;
    }
    > *.full-grow { flex: 1; }
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.center-block {
    display: block;
    margin: 0 auto;
}

// Media helpers
.square-ratio { @include aspect-ratio(1, 1); }

.wide-ratio { @include aspect-ratio(16, 9); }

.square-3 { @include aspect-ratio(4, 3); }


// Buttons
.simple-button {
    background: transparent;
    color: black;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    opacity: 0.6;
    transition: 0.3s all;
    padding: 0;
    cursor: pointer;

    &:disabled {
        cursor: initial;
        opacity: 0.2;
    }

    i {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &:hover:not(:disabled) {
        opacity: 1;
    }
}

.medium-button { font-size: 1.5rem; }

// Transitions
.fast-trans { transition: 0.25s all; }
.normal-trans { transition: 0.4s all; }
.slow-trans { transition: 0.7s all; }


// Spacing
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }

// Normalize Background
.normBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Dividing
.bottom-divider {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}


.mb8 {
    margin-bottom: 8px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb15 {
    margin-bottom: 15px;
}
.mb40 {
    margin-bottom: 40px;
}

// Others
.blurred { filter: blur(4px); }

.simple-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 15px auto;

    &>*:not(:last-child) {
        margin-bottom: 10px;
    }

    input:not([type="checkbox"]),
    button {
        padding: 5px 8px;
        width: 100%;
    }

    .form-errors {
        text-align: center;
        margin-top: 24px;
        color: red;
        font-size: 15px;
    }
}

.loader-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
}