.store-preview {
  width: 330px;
  box-shadow: 0 0 0 #c5c5c5;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  padding: 1.5rem 0.5rem;
  transition: box-shadow 0.4s, border 0.4s, transform 0.4s;
  &:hover {
      box-shadow: 0 0 0.5rem #eaeaea;
  }

  .store-name {
    font-family: varela;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-right: 5px;
  }

  .store-img {
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
  }
}
