.channels-list {
    height: 100vh;
  .channel{
    position: relative;
    .channel-name {
      font-family: quicksand-bold;
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
  }
}

.ng-template {
height: 100vh;
}

