<ul class="channels-list clean-list container flex column" *ngIf="channels.length else loader">
    <filter (setFilter)="setFilter($event)"></filter>
    <li class="channel" *ngFor="let channel of filter()">
        <h2 class="channel-name">{{channel.name}}</h2>
        <stores-list *ngIf="channel.stores" [stores]="channel.stores"></stores-list>
        <products-list *ngIf="channel.products" [products]="channel.products" [isInChannel]="true"></products-list>
    </li>
</ul>

<ng-template #loader>
    <img class="loader-gif" src="../../../assets/imgs/loader.gif" />
</ng-template>