.products-list-container {
    margin-bottom: 3rem;
  .products-list {
    height: 360px;
    overflow: hidden;
    &.expanded {
      overflow: visible;
      height: unset;
    }
  }
  .expand-btn {
    position: absolute;
    font-size: 1.1rem;
    top: 0;
    right: 0;
    font-family: varela;
    background-color: transparent;
    color: #3592cf;
  }
}
