<section class="products-list-container">
    <button class="expand-btn" *ngIf="isInChannel" (click)="toggleExpandList()">{{btnTxt}}</button>
    <ul class="products-list clean-list flex wrap justify-center" [class.expanded]="isListExpanded">
        <li *ngFor="let product of products">
            <product-preview [product]="product"></product-preview>
        </li>
    </ul>
</section>