.product-preview {
  font-family: quicksand-reg, varela;
  width: 330px;
  box-shadow: 0 0 0 #c5c5c5;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  padding: 1.5rem 0.5rem;
  margin: 0 1rem 2rem 1rem;
  transition: box-shadow 0.4s;
  &:hover {
    box-shadow: 0 0 0.5rem #eaeaea;
  }

  .product-details {
    letter-spacing: 0.5px;
    text-align: right;
    margin-right: 5px;
    > *:not(:last-child) {
      margin-bottom: 5px;
    }
    .product-name {
      font-weight: bold;
      font-size: 1rem;
    }
    .product-desc {
      font-size: 0.7rem;
    }
    .product-price {
      font-weight: bold;
      font-size: 0.8rem;
    }
  }

  .product-img {
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
  }
}
