<section class="product-preview flex justify-center align-center">
    <div class="product-details flex column justify-center flex-end">
        <h3 class="product-name">{{product.name}}</h3>
        <span class="product-desc">{{product.description}}</span>
        <span class="product-price">₪{{product.price}}</span>
    </div>
    <img class="product-img" src={{product.cover_photo}} />
</section>