<form class="filter-form flex justify-center">
    <div class="input-container">
        <input class="serach-input" placeholder="חיפוש" name="searchTerm" [(ngModel)]="searchTerm"
            (input)="setFilter.emit(searchTerm)" type="text" spellCheck="false" />
        <i class="fal fa-search fa-icon"></i>

    </div>
</form>