.filter-form {
  font-family: quicksand-reg, varela;
  margin-bottom: 2rem;
  .input-container {
    position: relative;
    .serach-input {
      font-size: 1.2rem;
      border: 2px solid #c5c5c5;
      border-radius: 25px;
      width: 300px;
      padding: 5px;
      text-align: center;

      &::placeholder {
        text-align: center;
        font-family: varela;
      }
      &:focus {
        outline: none;
      }
    }
    .fa-icon {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 1.1rem;
      color: #b6b5b5;
    }
  }
}
