.stores-lits-conatiner {
  .store-list {
    margin-bottom: 3rem;
    height: 360px;
    overflow: hidden;
    &.expanded {
      overflow: visible;
      height: unset;
    }
    .store-link {
      margin: 0 1rem 2rem 1rem;
    }
  }

  .expand-btn {
    position: absolute;
    font-size: 1.1rem;
    top: 0;
    right: 0;
    font-family: varela;
    background-color: transparent;
    color: #3592cf;
  }
}
