<section class="stores-lits-conatiner flex column">
    <button class="expand-btn" (click)="toggleExpandList()">{{btnTxt}}</button>
    <ul class="store-list clean-list flex wrap justify-center" [class.expanded]="isListExpanded">
        <a class="store-link" *ngFor="let store of stores"
            [routerLink]="['/store',store.name]">
            <store-preview [store]="store"></store-preview>
        </a>
    </ul>
</section>